[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
pydocstyle = "*"
autopep8 = "*"
pyinstaller = "*"

[packages]
kivy = "*"
cython = "==0.29.9"
pygments = "*"
docutils = "*"
wget = "*"
requests = "*"
pillow = "*"
pafy = "*"
youtube-dl = "*"
ffmpy = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
